{% extends 'app_one/index2.html' %}
{% load static %}
{% block body_right %}
<div id="plist" class="people-list">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Member....">
    </div>
    <ul class="list-unstyled chat-list mt-2 mb-0">
        <li class="clearfix active">
            <img src="https://cdn.kastatic.org/images/avatars/svg/robot_female_2.svg" alt="avatar">
            <div class="about">
                <div class="name">Riya</div>
                <div class="status"> <i class="fa fa-circle online"></i> Chatsecure bot</div>
            </div>
        </li><ul class="list-unstyled chat-list mt-2 mb-0">
            <li class="clearfix ">
                <img src="{% static 'img/index.jpeg' %}" alt="avatar">
                <div class="about">
                    <div class="name"><a href ='{% url 'globalroom' %}' style='text-decoration:none; color:black' > Global room</a></div>
                    <div class="status"> <i class="fa fa-circle online"></i> Worldwide</div>
                </div>
            </li>
    </ul>
</div>
{% endblock body_right %}


{% block body_left %}  
<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="https://cdn.kastatic.org/images/avatars/svg/robot_female_2.svg" alt="avatar">
                </a>
                <div class="chat-about">
                    <h6 class="m-b-0"> Riya (ChatSecure Bot) </h6>
                    <small>
                        <div class="status"> <i class="fa fa-circle online"></i> online/answers every qyestion  </div>
                    </small>
                </div>
            </div>
            <div class="col-lg-6 hidden-sm text-right">
             
                 <a href="{% url 'join_room' %}" class="btn btn-outline-primary"><small>JoinRoom+</small></i></a>
                 <a href="{% url 'logout' %}" class="btn btn-outline-danger"><small>Logout</small></i></a>
                 <a href="{% url 'profile' %}" class="btn btn-outline-primary"><i class="fa fa-cogs"></i></a>

            </div>
        </div>
    </div>
    <div class="chat-history" id='chat-history'>
        <ul class="m-b-0">
            <li class="clearfix">
                <div class="message-data">
                    <span class="message-data-time">Riya:15 AM </span>
                </div>
                <div class="message my-message">Hi, its me Riya Chatsecure BOT ,welcome to our project  Mrs/Ms {{user.username.capitalize}}
                    Our projects is complete. It took Anup around  8/9 days to complete this project .
                </div>
  
            </li>
            {% comment %} <li class="clearfix">
                <div class="message-data text-right">
                    <span class="message-data-time">10:15 AM, Today</span>
                </div>
                <div class="message other-message float-right"> {{cmessage}}</div>
            </li>{% endcomment %}
            <li class="clearfix">
                <div class="message-data">
                </div>
                <div class="message my-message" id ='reply'> {{user.username.capitalize}}  you can chat with me if you don't have anyone to chat with.
                     i can answers some of your question related to this project
                     </div>
            </li> 
            
        </ul>
        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="input-group mb-0">
           
            <input type="text" class="form-control" id= 'message_send' name='message' placeholder="Enter text here...">       
            <div class="input-group-prepend">   
                <button  id='submit'>
                    <span class="input-group-text" ><i class="fa fa-send"></i></span>
            </button>
            </div>                 
                        
        </div>
    </div>
</div>
{% endblock body_left %}
{% block js %}
{{user.username.capitalize|json_script:"user-name"}}
<script>
    const un  = JSON.parse(document.getElementById('user-name').textContent)
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/chatbot");
    ws.onopen = function(event){
       
    }
    ws.onmessage = function(event){
        const data = JSON.parse(event.data)
        if (data.user == un){

            var html = ' <ul class="m-b-0">'  +
            '<li class="clearfix">' +
                '<div class="message-data">' +
                    '<span class="message-data-time" >' + '</span>' +
                '</div>' +
                '<div class="message other-message float-right" >'+ data.user_message +
                '</div>'+
                '</li>' 
                '</ul>';
                document.getElementById('chat-history').innerHTML += html
            
                var html_two = ' <ul class="m-b-0">' + 
                    '<li class="clearfix">' +
   
                       '<div class="message-data">' + 
                           '<span class="message-data-time" >' + 'Riya'+ '</span>' +
                          
                       '</div>' +
                       '<div class="message my-message" >' + data.msg +
                       '</div>'
                   '</li>'
                   '/ul';
           document.getElementById('chat-history').innerHTML += html_two
            
            }else{
                var html = ' <ul class="m-b-0">' + 
                 '<li class="clearfix">' +

                    '<div class="message-data">' + 
                        '<span class="message-data-time" >' + 'Riya'+ '</span>' +
                       
                    '</div>' +
                    '<div class="message my-message" >' + data.msg +
                    '</div>'
                '</li>'
                '/ul';
        document.getElementById('chat-history').innerHTML += html
    }
}
    ws.onerror = function(event){
    } 
    document.getElementById('submit').onclick = function(event){
        const messageDom = document.getElementById('message_send')
        const message = messageDom.value
        ws.send(JSON.stringify({
            'msg':message,
            'user': un
        }))
        messageDom.value = ''
    }

</script>    
{% endblock js %}