{% extends 'app_one/index3.html' %}
{% block navbar %}
<div class="col-lg-9 hidden-sm text-right">
     <a href="{% url 'home' %}" class="btn btn-outline-primary"><small>Home</small></i></a>

</div>
<a class="nav-link " href="{% url 'profile' %}" target="__blank">Profile</a>
<a class="nav-link active ms-0 " href="{% url 'password_changing' %}" >password_changing</a>
{% endblock navbar %}
{% block body %}
<div class="col-xl-8">
    <div class="card mb-4">
        <div class="card-header">Password changing</div>
        <div class="card-body">
            <form  method='POST' action='' novalidators >
                      {% if messages %}
                      {% for message in messages  %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}} <small> looks like you provided wrong credentials</small>
                        </div>
                      {% endfor %}
                  {% endif %}
          
                      {% csrf_token %}
                      <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Current password(password that you loggeg inthrough)</label>
                        {{form.old_password}}
                      </div>
                        <div class="mb-3">
                          <small> New Password:</small>
                          {{form.new_password1}}
                      </div>
                        <div class="mb-3">
                          <small> Confirm Password:</small>
                          {{form.new_password2}}
                      </div>
                  
                      <button type="submit" class="btn btn-primary">Save</button>
  
                      </form>
                
        </div>
    </div>
</div>   
{% endblock body %} 